# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
*.db

# Virtual environments
env/
venv/

# Secrets & config
.env
*.json
service_account.json

# VS Code
.vscode/

# Streamlit & cache
.streamlit/
*.log
*.cache

# OS files
.DS_Store
Thumbs.db
